* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#container {
  width: 100%;
  height: 6vh;
  margin-top: 3px;
  float: left;
}

.option {
  z-index: 2;
  display: inline-block;
  height: 100%;
  width: 10vw;
  margin-left: .25vw;
  border-radius: 10px;
  user-select: none;
  text-align: center;
  font-size: 4vh;
  font-family: Agbalumo;
  padding-bottom: 7vh;
}


.passive {
  background-color: rgb(162, 0, 154);
  color: rgb(127, 237, 226);
  border-style: solid;
  border-width: 2px;
  border-right: none;
  border-bottom: none;
  border-color: rgb(232, 149, 228);
  cursor: pointer;
  
}
.active {
  background-color: rgb(129, 43, 124);
  color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-left: none;
  border-top: none;
  border-color: rgb(148, 93, 143);
}